autopep8==1.5.2
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
html2text==2020.1.16
html5lib==1.0.1
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.2.1
nltk==3.5
numpy==1.18.4
pandas==1.0.3
pkg-resources==0.0.0
pycodestyle==2.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.7
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
soupsieve==2.0
stop-words==2018.7.23
tqdm==4.46.0
urllib3==1.25.9
webencodings==0.5.1
